<ion-view>  
  <ion-content ng-controller ="controlUsuario">
  
                          <!--Usuario No Loggeado-->
    <div ng-show = "!sesion">
      <br>
      <br>
      <br>
      <br>
      <div class ="padding form-backgroundColor">
        <div class = "row tituloCentrado">
          <h3 class = "colorTitulo"><b>Ingrese sus datos</b></h3>  
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" placeholder="Documento" ng-model="usuario.Documento">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña" ng-model="usuario.Contrasenia">
            </label>
                
        </div>
        <button class="button button-block button-balanced icon-right ion-log-in" ng-click="login()">Ingresar</button>    
      </div>
    </div>
                        <!--Fin Usuario No Loggeado-->

                        <!--Usuario Loggeado--> 
    <div ng-show = "sesion">                      
      <br>
      <div class ="padding form-backgroundColor" ng-show = "sesion">
        <div class = "row tituloCentrado">
          <h3 class = "colorTitulo"><b>Perfil</b></h3>  
        </div>
        <br>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre</span>
            <input type ="text" class = "input-border" ng-Value = 'cliente.Apellido + ", " + cliente.Nombre' 
              readonly="true">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Fecha de Nacimiento</span>
            <input type ="text"  class = "input-border" ng-model = "cliente.FechaNacimiento" 
              readonly="true">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Documento</span>
            <input type ="text"  class = "input-border" ng-model = "cliente.Documento" 
              readonly="true">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Telefono*</span>
            <label class="item-input-wrapper">
              <input type ="text"  ng-model = "cliente.Telefono">
              <i class="icon ion-android-phone-portrait placeholder-icon"></i>
            </label>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Mail*</span>
            <label class="item-input-wrapper">
              <input type="email" ng-model = "cliente.Mail">
              <i class="icon ion-android-mail placeholder-icon"></i>
            </label>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nueva Contraseña</span>
            <input type="password" class = "input-border" ng-model = "contrasenia">
          </label>
        </div>      
        <button class="button button-block button-balanced icon-right ion-checkmark-circled" ng-click="guardar()">Modificar</button>    
        <button class="button button-block button-positive icon-right ion-information-circled" ng-click="verDeuda()">Ver Deuda</button>    
        <button class="button button-block button-assertive icon-right ion-log-out" ng-click="logOut()">Cerrar sesion</button>    
      </div>
    </div>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
                        <!--Fin Usuario Loggeado-->


  </ion-content>
</ion-view>  

