<br>
<br>
<br>
<br>


<div class="container well" style="background-color: #e3f2fd">

	<div class="row">
		<div class="col-xs-12">
			<h3 class = "text-center">Alta/Baja Clientes</h3>
		</div>
	</div>

	<div class="separador" style="margin:15px 0px 15px 0px;border-top-color: #A4A4A4""></div>

	<div class="row">
		<div class="col-xs-12">
			<h4 class = "text-left" style="color : blue"><b>{{estado}}</b></h4>
		</div>
	</div>
	
	<form class ="form-horizontal">
		
		<div class = "form-group">
	        <label for="formGroup" class="col-xs-12 col-sm-2 ">Nombre y Apellido</label>
	        <div class="col-xs-10 col-sm-5" id="myselect-container"> 
	            <select  class="form-control" 
	                onmousedown="if(this.options.length>5){this.size=5;}" onchange='this.size=0;' onblur="this.size=0;"  
	                ng-model = "selectClientes" 
	                ng-options = "cliente.Apellido + ', ' + cliente.Nombre for cliente in clientes"
	                ng-change = "changeCliente()">
	            </select>
	        </div>
    	
			<div class = "col-xs-4 col-sm-2">
				<button class="btn btn-primary btn-rounded btn-sm margenTop"
                    ng-click= "traerClientesPorEstado('A')">
                    <span class="glyphicon glyphicon-refresh"></span>  Cargar Activos
                </button>    
			</div>
			<div class = "col-xs-4 col-sm-2">
				<button class="btn btn-primary btn-rounded btn-sm margenTop xs-margenLeft"
                    ng-click= "traerClientesPorEstado('I')">
                    <span class="glyphicon glyphicon-refresh"></span>  Cargar Inactivos
                </button>    
			</div>
		</div>		
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 " for="fromGroup">Fecha de Nacimiento</label>
			<div class="col-xs-10 col-sm-5">
				<input class="form-control" type ="text"  ng-model = "selectClientes.FechaNacimiento" 
				ng-readonly = "true" disable>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-2 " for="fromGroup">DNI</label>
			<div class="col-xs-10 col-sm-5">
				<input class="form-control" type ="text" disable ng-model = "selectClientes.Documento" ng-readonly = "true">
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-2" for="fromGroup">Telefono</label>
			<div class = "col-xs-10 col-sm-5" >
				<div class="input-group">
					<input class="form-control" type ="text" disable ng-model = "selectClientes.Telefono" ng-readonly = "true">
					<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-2" for="form-group">Correo Electronico</label>
			<div  class = "col-xs-10 col-sm-5">
				<div class="input-group">
					<input type="text" class="form-control" disable ng-model = "selectClientes.Mail" ng-readonly = "true">
					<span class="input-group-addon">@</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-2 " for="form-group">Saldo</label>
			<div class="col-xs-6 col-sm-2">
				<input  class="form-control" type="text" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" placeholder="0.00" ng-model = "Saldo"
				onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46'
				ng-disabled = "selectClientes.Estado === 'A'">
			</div>			
		</div>

		<div class="form-group">
			<div class = "col-xs-12 col-sm-3 col-md-2 col-sm-offset-2 margenTop">
				<button ng-disabled = "!selectClientes || selectClientes.Estado === 'A'" 
				class="btn btn-success btn-lg" 
				ng-click = "cambiarEstado(selectClientes.idClientes,Saldo,'A')">
				<span class="glyphicon glyphicon-arrow-up"></span>  Dar de alta
				</button>
			</div>
		
			<div class = "col-xs-12  col-sm-3 col-md-2 margenTop">
				<button ng-disabled = "!selectClientes || selectClientes.Estado === 'I'" class="btn btn-success btn-lg" 
				ng-click = "cambiarEstado(selectClientes.idClientes,Saldo,'I')">
				<span class="glyphicon glyphicon-arrow-down"></span> Dar de baja
				</button>
			</div>
			<div class = "col-xs-12  col-sm-3 col-md-2 margenTop">
				<button ng-disabled = "!selectClientes || selectClientes.Estado === 'A'" class="btn btn-danger btn-lg" 
				ng-click = "borrar(selectClientes.idClientes,'I')">
				<span class="glyphicon glyphicon-trash"></span> Borrar
				</button>
			</div>
		</div>	
	</form>

	</div>

    <div>
        <alert-message class ="mensajeAlerta" alert="alertMessage" ></alert-message>
    </div>

	<div ng-show ="cargando"  class="loader">
		<strong>{{cargando}}</strong>
	</div>

</div>