<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title">Cobro Confirmado</h3>
</div>

<div class = "modal-body">
     
    <div class = "table-responsive">

        <table ng-table class="table table-bordered table-hover">

            <thead>
                <caption class = "text-center"><b>Facturas Pagadas</b></caption>
                <tr ng-hide = "!objetoCobroConfirmado.facturasPagadas || objetoCobroConfirmado.facturasPagadas.length === 0">
                    <th class = "text-center">Codigo</th>
                    <th class = "text-center">Fecha</th>
                    <th class = "text-center">SubTotal Facturas</th>
                </tr>
                <tr ng-hide = "objetoCobroConfirmado.facturasPagadas.length > 0"></tr>
            </thead>

            <tbody>
                <tr ng-hide = "!objetoCobroConfirmado.facturasPagadas || objetoCobroConfirmado.facturasPagadas.length === 0"   
                ng-repeat="factura in objetoCobroConfirmado.facturasPagadas">
                    <td class = "text-center">{{factura.idFactura}}</td>
                    <td class = "text-center">{{factura.Fecha}}</td>
                    <td class = "text-center total-label">${{factura.Total | number: 2}}</td>
                    <td ng-init="$parent.sumTotales = $parent.sumTotales + factura.Total | number:2" ng-hide ="true"></td>
                </tr>
                 <tr ng-hide = "objetoCobroConfirmado.facturasPagadas.length > 0">
                    <td class = "text-center">No se cobro ninguna factura en este pago.</td>
                </tr>
            </tbody>
            
        </table>

    </div>

    <br>

    <h4 class = "text-left"><b><u>Detalle</u></b></h4>
    
    <p>
        <label class = "total-label">Saldo Anterior = ${{saldoAnterior | number :2}}</label>
    </p>
    <p>
        <label class = "total-label">Total Facturas = ${{sumTotales || 0 | number: 2}}</label>
    </p>
    <p>
        <label class = "total-input">Total = ${{sumTotales + saldoAnterior | number: 2}}</label>
    </p>
    <p>
        <label class = "monto-label-bold">Monto Abonado = ${{montoAbonado | number: 2}}</label>
    </p>
    <p>
        <label class = "saldo-label-bold">Saldo Actual = ${{selectClientes.Saldo | number : 2}}</label>
    </p>
            
    
</div>

<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cerrarModal()">Cerrar</button>
</div>

  

